# Handle line endings automatically for text files
* text=auto

# Specific files with LF line endings
*.sh text eol=lf
*.md text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.html text eol=lf
